html body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial;
}

.navbar{
    height: 20vh;
    margin-left: 5%;
    margin-right: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loc{
    display: flex;
    align-items: center;
}

.typoNavbar{
    color: grey;
    margin-right: 8%;
    white-space: nowrap;
}

.typoNavbar:hover{
    color: black;
    cursor: pointer;
}

.typoNavbar2:hover{
    color: black;
    cursor: pointer;
}

.typoNavbar2{
    color: grey;
    white-space: nowrap;
    margin-right: 2%;
}

.marge{
    margin-left: 10%;
}

.logo{
    background-position: center;
    background-size: cover;
    height: 5vh;
    width: 5vh;
    padding-right: 5%;
    padding-left: 7%;
}

.loca{
    background-image: url("loc.jpeg");
}

.tel{
    background-image: url("tel.png");
}

.connexion{
    background-image: url("connexion.png");
}

.panier{
    background-image: url("panier.png");
}

.galeries{
    background-image: url("galeries.png");
    height: 20vh;
    width: 30vw;
    background-position: center;
    background-size: cover;
}

.bordure{
    border: 1px solid black;
}

.grandContenu{
    border-top: 1px solid black;
}

.french{
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.frenchDays{
    letter-spacing: -1px;
    cursor: pointer;
}

.frenchDays:hover{
    border-bottom: 2px solid grey;
    transition: 0.3s;
}

.lightBlue{
    color: #29bbff;
}

.lightPink  {
    color: #9f4494;
}

.search{
    width: 18vw;
    height: 8vh;
    border-left: 1px solid black;
    display: flex;
}

.searchbar{
    margin-left: 2%;
    border: none;
    width: 15vw;
    letter-spacing: -1px;
}

.fond{
    background-image: url("fondgaleries.jpeg");
    background-position: center;
    background-size: cover;
    height: 75vh;
    border-top: 1px solid black;
}

.carreFond{
    height: 75vh;
    margin-left: 5%;
    margin-right: 5%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.exclu{
    font-size: 0.8em;
    margin-top: 3%;
    margin-bottom: 8%;
}

.titre{
    font-size: 5em;
    font-weight: bold;
    letter-spacing: -7px;
    margin-bottom: 5%;
}

.description{
    font-size: 3em;
    font-weight: bold;
    letter-spacing: -3px;
}

.profiter{
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 4%;
    letter-spacing: -1px;
}

.rectangleBouton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 90vw;
}

.dispositionBouton{
    display: flex;
    justify-content: center;
}

.boutons{
    background-color: transparent;
    border: 2px solid white;
    border-radius: 30px;
    color: white;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    letter-spacing: -1px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.boutons:hover{
    cursor: pointer;
    border: 2px solid yellow;
}

.voir{
    margin-right: 5%;
}

.rectangleBlanc{
    height: 10vh;
    background-color: white;
    color: grey;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.actu{
    height: 50vh;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

.titreActu{
    width: 15vw;
    border-right: 1px solid black;
    letter-spacing: -3px;
    padding-left: 2%;
    padding-top: 5%;
    border-left: 1px solid black;
    font-weight: bolder;
    font-size: 2.3em;
}

.offres{
    width: 20vw;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
}

.affichePromo{
    background-size: cover;
    background-position: center;
    height: 35vh;
    width: 16vw;
    margin-bottom: 3%;
}

.one{
    background-image: url("img_15.png");
}

.two{
    background-image: url("img_16.png");
}

.three{
    background-image: url("img_1.png");
}
.four{
    background-image: url("img_17.png");
}
.five{
    background-image: url("img_18.png");
}
.six{
    background-image: url("img_19.png");
}
.seven{
    background-image: url("img_20.png");
}
.height{
    background-image: url("img_21.png");
}
.nine{
    background-image: url("img_22.png");
}

.titrePromo{
    font-weight: bold;
    margin-left: 3%;
    letter-spacing: -1px;
}

.descriptionPromo{
    margin-left: 3%;
    font-size: 0.7em;
    padding-right: 8%;
    height: 20px;
    margin-bottom: 8%;
}

.redirection{
    margin-left: 3%;
    font-weight: bold;
    font-size: 0.9em;
    letter-spacing: -1px;
}

.redirection:hover{
    border-bottom: 2px solid #6fff00;
    cursor: pointer;
}

.bonneCause{
    display: flex;
    height: 80vh;
    margin-left: 5%;
    margin-right: 5%;
}

.titreCause{
    width: 10vw;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    justify-content: center;
}

.imgTitre{
    background-image: url("img_12.png");
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.titreBonne{
    background-image: url("img_12.png");
}

.titreGaleries{
    background-image: url("img_13.png");
}

.titreMagasin{
    background-image: url("img_14.png");
}

.rose{
    width: 90vw;
    background-color: deeppink;
    border-right: 1px solid black;
}

.contenuRose{
    display: flex;
    margin-left: 3%;
    margin-right: 5%;
}

.octobreRose{
    display: flex;
    flex-direction:column;
    flex: 1;
    color: white;
    margin-top: 15%;
    padding-right: 20%;
}

.affiche{
    flex: 1;
    display: flex;
    height: 50vh;
    width: 40vw;
    margin-top: 10%;

}

.imgRose{
    background-image: url("img_2.png");
    background-size: cover;
    background-position: center;
}

.black{
    background-color: black;
    color: white;
    border-radius: 30px;
    border: none;
    width: 8vw;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: -1px;
    font-weight: bold;
}

.black:hover{
    background-color: #6fff00;
    color: black;
}

.titreOctobre{
    font-weight: bolder;
    font-size: 3em;
    letter-spacing: -3px;
}

.paragraphe{
    letter-spacing: -0.5px;
}

.bleu{
    background-color: #164194;
    width: 80vw;
    border-right: 1px solid black;
}

.decouvrir{
    background-color: black;
    color: white;
    border-radius: 30px;
    border: none;
    width: 15vw;
    padding: 2%;
    justify-content: space-around;
    align-items: center;
    letter-spacing: -1px;
    font-weight: bold;
}

.decouvrir:hover{
    background-color: #6fff00;
    color: black;
}

.margin{
    margin-right: 2%;
}

.beige{
    background-color: #e7d8be;
    width: 80vw;
    border-right: 1px solid black;
}

.typoBlack{
    color: black;
}

.imgBeige{
    background-image: url("img_10.png");
    background-size: cover;
    background-position: center;
}

.rectangleFin{
    height: 40vh;
    margin-left: 5%;
    margin-right: 5%;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
}

.reservation{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 25vh;
    margin-right: 3%;
}

.icone{
    background-position: center;
    background-size: cover;
    height: 5vh;
    width: 5vh;
}

.annonce{
    letter-spacing: -1px;
}

.sac{
    background-image: url("img_3.png");
}

.change{
    background-image: url("img_4.png");
}

.truck{
    background-image: url("img_5.png");
}

.valeurs{
    background-image: url("img_6.png");
}

.lienFin{
    color: grey;
}

.lienFin:hover{
    color: black;
}

.rectangleNoir{
    background-color: black;
    height: 50vh;
    margin-right: 5%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 3%;
    padding-left: 3%;
}

.titreBlack{
    color: white;
    display: flex;
    flex-direction: column;
    letter-spacing: -1px;
}

.iconeBlack{
    display: flex;
    width: 40vw;
    justify-content: flex-end;
}

.rondWhite{
    width: 10vh;
    height: 10vh;
    background-color: white;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 5%;
}

.rondWhite:hover{
    background-color: #6fff00;
}

.ig{
    background-image: url("img_7.png");
    background-size: 3em;
}

.facebook{
    background-image: url("img_8.png");
    background-size: 3em;
}

.pinterest{
    background-image: url("img_9.png");
    background-size: 3em;
}

.rectangleMenu{
    height: 95vh;
    margin-right: 5%;
    margin-left: 5%;
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding-top: 1%;
    padding-left: 3%;
    padding-bottom: 5%;
}

.titreFin{
    letter-spacing: -1px;
}

.produits{
    display: flex;
}

.marque{
    display: flex;
    flex-direction: column;
    width: 17vw;
    margin-right: 8%;
    color: #4f4e4c;
}

.ligneVerte{
    letter-spacing: -1px;
}

.ligneVerte:hover{
    border-bottom: 2px solid #6fff00;
    cursor: pointer;
}

.marginFin{
    margin-bottom: 5%;
}

.surligne{
    letter-spacing: -1px;
    color: grey;
}

.surligne:hover{
    text-decoration: underline;
    cursor: pointer;
}
